{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% endblock %}

{% block scripts %}

<script>
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Form</h1>
    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Create profile" />
    </form>
    </div>



{% endblock %}

