{% extends "layout.html" %}

{% block content %}

<h1> {{request.user.username}}</h1>
<p>{{request.user.first_name}}</p>
<p>{{request.user.last_name}}</p>
<p>{{request.user.email}}</p>
    <p> <a href="{{ profile_edit_url }}" class="btn btn-primary" role="button">Edit Profile</a> </p>
    <p><a href="{{ password_edit_url }}" class="btn btn-primary" role="button">Change Password</a> </p>
{% endblock %}
