{% extends "layout.html" %}

{% block content %}

<h1>Welcome to Teach9</h1>

<p>This is an application for teachers and students</p>
{% if not request.user.is_authenticated %}
<p><b> Please login or ask your teacher for login info to use this application</b></p>
{% endif %}
{% if request.user.is_authenticated %}
<h1>Info:</h1>
<p>A course can have assignments and lessons tied to it. Teachers can tie assignments to a lesson or multiple lessons for the students to see.</p>
<p>Lessons can have activities tied to them that are meant to be used to create the main tasks of what will or can be done during that lesson. There is also a way students can vote for different activities if the teacher has enabled that option for those activities.</p>
<p>The application is meant to be a flexible tool that a teacher could use to make courses the way they want and be able to get feedback from the students on how they want to learn</p>
<p>Please try out the application.</p>
{% endif %}
{% endblock %}
