{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb lesson.course.name lesson.course %}
{% breadcrumb lesson.name lesson %}
{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{lesson.name}}</h1>
    <p>{{lesson.content}}</p>
    <hr />
    <h3>Activities for this Lesson:</h3>
    {% for obj in activity_list %}
    <h4> {{obj.name}} </h4>
    <p> {{obj.content}} </p>
    {% if obj.votable %}
    <p><b>You can vote for this activity!</b></p>
    
    {% if permission %}
    <h5>voted for this activity</h5>
    {% for voter in obj.get_votes %}
    <p>{{voter.username}}</p>
    {% empty %}
    <p> No votes</p>
    {% endfor %}
    {% endif %}
    {% endif %}
    <p> <a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">View Activity</a> </p>
    {% if permission %}
    <p> <a href="{{ obj.get_edit_url }}" class="btn btn-primary" role="button">Edit Activity</a> </p>
    {% endif %}
    <hr />
    {% empty %}
    <p> no activities for this lesson</p>
     {% endfor %}
    <hr />

    <h3>Assignments for this Lesson:</h3>
    {% for obj in assignment_list %}
    <h4>{{obj.name}} </h4>
    <p> {{obj.content}} </p>
    <p> {{obj.notes}}</p>
    {% if permission %}
    <p> <a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">View Assignment</a> </p>
    <p> <a href="{{ obj.get_edit_url }}" class="btn btn-primary" role="button">Edit Assignment</a> </p>
    {% endif %}
    <hr />
    {% empty %}
    <p> no assignments for this lesson</p>
     {% endfor %}


    </div>
{% if permission %}
<div class="col-sm-offset-3">
        <p> <a href="{{ lesson.create_activity_url }}" class="btn btn-primary" role="button">Create Activity</a> </p>
         <hr/>
    <p> <a href="{{ lesson.get_edit_url }}" class="btn btn-primary" role="button">Edit Lesson</a> </p>
     <p> <a href="{{ lesson.get_delete_url }}" class="btn btn-danger" role="button" onclick="return confirm('Are you sure you want to delete this lesson?')">Delete Lesson</a> </p>
</div>
{% endif %}
{% endblock %}
