{% extends "layout.html" %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb course.name course %}
{% breadcrumb "Assignment List" "" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if permission %}
        <h1>Course Assignments</h1>
        {% else %}
        <h1>My Assignments</h1>
        {% endif %}

{% for obj in my_assignments %}
<div class="col-sm-4">
    <h4> {{obj.name}}</h4> <br />


	
	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">View this Assignment</a>
    <a href="{{ obj.get_edit_url }}" class="btn btn-primary" role="button">Edit this Assignment</a>
    </p>

        <hr/>
    
	</div>
     {% empty %}
        <div class="col-sm-4">
            <p>No Assignments created</p>
            </div>
 {% endfor %}

</div>

    <div class="col-sm-offset-3">
    <p> <a href="{{ course.create_assignment_url }}" class="btn btn-primary" role="button">Create Assignment</a> </p>
</div>

    {% if permission %}
     <div class="row">
     <h1>Students Assignments</h1>
    {% for obj in staff_assignments %}
<div class="col-sm-4">
    <h4> {{obj.name}}</h4> <br />


	
	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View this Assignment</a></p>
        <hr/>
    
	</div>
     {% empty %}
        <div class="col-sm-4">
            <p>No Assignments returned</p>
            </div>
 {% endfor %}
</div>
    {% endif %}
</div>


{% endblock %}
