{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb course.name course %}
{% breadcrumb "Assignment List" assignment_list_url %}
{% breadcrumb "Create Assignment" "" %}
{% endblock %}

{% block content %}
<div class="col-md1">
    <p> <a href="{{ course.get_absolute_url }}" class="btn btn-default" role="button">Back</a> </p>
</div>
<hr />
<div class="container-fluid">
    <h1>Create Assignment</h1>
    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Create Assignment" />
    </form>
    </div>
{% endblock %}
