{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb course.name course %}
{% breadcrumb "Assignment List" assignment_list_url %}
{% breadcrumb assignment.name assignment %}
{% endblock %}

{% block script %}
<script>


</script>
{% endblock %}

{% block content %}

<div class="col-md1">
    <p> <a href="{{ assignment_list_url }}" class="btn btn-default" role="button">Back</a> </p>
</div>

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ assignment.name }}</h1>

   <p> {{assignment.content|linebreaks }}</p>

    </div>

<div class="col-sm-offset-3">
    <hr/>
    <p> <a href="{{ assignment.get_edit_url }}" class="btn btn-primary" role="button">Edit assignment</a> </p>
     <p> <a href="{{ assignment.get_delete_url }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this assignment?')" role="button">Delete Assigment</a> </p>
</div>

{% endblock %}
