{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb activity.lesson.course.name activity.lesson.course %}
{% breadcrumb activity.lesson.name activity.lesson %}
{% breadcrumb activity.name activity %}
{% breadcrumb "Edit" "" %}
{% endblock %}

{% block content %}
<div class="col-md1">
    <p> <a href="{{ activity.get_absolute_url }}" class="btn btn-default" role="button">Cancel</a> </p>
</div>
<hr />
<div class="container-fluid">
    <h1>{{activity.name}}</h1>
    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-default" value="Save Activity" />
    </form>
    </div>
{% endblock %}
