{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb lesson.course.name lesson.course %}
{% breadcrumb  lesson.name lesson  %}
{% breadcrumb  "Create Activity" "" %}
{% endblock %}

{% block content %}
<div class="col-md1">
    <p> <a href="{{ lesson.get_absolute_url }}" class="btn btn-default" role="button">Back</a> </p>
</div>
<hr />
<div class="container-fluid">
    <h1>Create Activity</h1>
    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Create activity" />
    </form>
    </div>
{% endblock %}
