{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb activity.lesson.course.name activity.lesson.course %}
{% breadcrumb activity.lesson.name activity.lesson %}
{% breadcrumb activity.name activity %}
{% endblock %}

{% block script %}
<script>


</script>
{% endblock %}

{% block content %}

<div class="col-md1">
    <p> <a href="{{ activity.lesson.get_absolute_url }}" class="btn btn-default" role="button">Back</a> </p>
</div>

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ activity.name }}</h1>

    {{activity.content|linebreaks }}<br />

    {% if activity.votable and permission %}
    <p>Voted for by:</p>

{% for obj in activity.get_votes %}

    <p>obj.username</p>
    <hr/>
         {% empty %}
    <p>No votes</p>
 {% endfor %}

 {% endif %}
    {% if activity.votable and not permission %}
        {%if not voted%}
    <p>    <a href="{{ activity.vote_url }}" class="btn btn-primary" role="button">Vote for Activity</a> </p>
        {%else%}
    <p> <a href="{{ activity.vote_url }}" class="btn btn-primary" role="button">Cancel vote</a> </p>
        {% endif %}
    {% endif %}

    </div>
{% if permission %}
<div class="col-sm-offset-3">
    <hr/>
    <p> <a href="{{ activity.get_edit_url }}" class="btn btn-primary" role="button">Edit Activity</a> </p>
     <p> <a href="{{ activity.get_delete_url }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this activity?')" role="button">Delete Activity</a> </p>
</div>
{% endif %}
{% endblock %}
