{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb "Create Course" "" %}
{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
{% endblock %}

{% block content %}

<div class="col-md1">
    <p> <a href="{{ course_list_url }}" class="btn btn-default" role="button">Back</a> </p>
</div>
<hr />
<div class="container-fluid">
    <h1>Form</h1>
    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Create course" />
    </form>
    </div>



{% endblock %}

