﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ application }}</title>
	{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.min.css' %}"/> 
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    {% load static %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">{{ application }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'courses:course_list' %}">Courses</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">My Profile</a></li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li><a href="{% url 'create_profile' %}">Create Student Profile</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                    {% endif %}
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
            <div class="navbar-collapse collapse">

            </div>
        </div>
    </div>
    {% load django_bootstrap_breadcrumbs %}
           {% block breadcrumbs %}
       {% endblock %}

    <div class="container body-content">
                {% render_breadcrumbs %}
{% block content %}

        {% endblock %}
        <footer>
        </footer>
    </div>
{% block scripts %}{% endblock %}
     
</body>
</html>
