{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% endblock %}

{% block content %}

    {% if permission %}
<hr/>

<p> <a href="{{ course_create_url }}" class="btn btn-default" role="button">Create Course</a> </p>
<hr/>
    {% endif %}
<div class="container-fluid">

    {% if admin_courses %}
    <div class="row">
    <h1>Admin Course view</h1>

    {% for obj in admin_courses %}
<div class="col-sm-4">
    <h4> {{obj.name}}</h4> <br />
    <p> {{obj.content}}</p> <br />
    <p> {{obj.start_date}}</p> <br />
    <p> {{obj.finish_date}}</p> <br />
    {% if obj.deleted %}
    <h2 style="color:red">DELETED on {{obj.delete_date}}</h2>
	{% endif %}
	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View this course</a></p>
	


	</div>
 {% endfor %}
    </div>
    {% endif %}
        {% if my_courses %}
<div class="row">
    <h1>My courses</h1>

    {% for obj in my_courses %}
<div class="col-sm-4">
    <h4> {{obj.name}}</h4> <br />
    <p> {{obj.content}}</p> <br />
    <p> {{obj.start_date}}</p> <br />
    <p> {{obj.finish_date}}</p> <br />
	
	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View this course</a></p>
	
	</div>
 {% endfor %}
    </div>
    {% endif %}

    {% if course_list %}
    <div class="row">
        <h1>Attending Courses</h1>
{% for obj in course_list %}
<div class="col-sm-4">
    <h4> {{obj.name}}</h4> <br />
    <p> {{obj.content}}</p> <br />
    <p> {{obj.start_date}}</p> <br />
    <p> {{obj.finish_date}}</p> <br />
	
	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View this course</a></p>

	</div>
 {% endfor %}
</div>
    
     {% endif %}

    {%if not course_list and not permission %}
    <h1>You are not attending any courses, contact your teacher if this should not be</h1>
    {% endif %}
</div>
{% endblock %}
