{% extends "layout.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "Courses" "courses:course_list" %}
{% breadcrumb course.name course %}
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ course.name }}</h1>

    {{course.content|linebreaks }}<br />

    {% for obj in lessons %}

    <p> <b> {{obj.name}}</b>
    {% if obj.lesson_date %}
    Date of lesson: {{obj.lesson_date}}
    {% endif %}
    </p> <p>{{obj.summary}}
    <a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">View this Lesson</a>
    {%if permission %}
    <a href="{{ obj.get_edit_url }}" class="btn btn-primary" role="button">Edit this Lesson</a>
    {% endif %}
    </p>
    
     <hr /> 

 {% endfor %}
        {%if permission %}
    <p> <a href="{{ course.create_lesson_url }}" class="btn btn-primary" role="button">Create Lesson</a> </p>
    {% endif %}
    </div>

<div class="col-sm-offset-3">

    <p> <a href="{{ assignment_list_url }}" class="btn btn-primary" role="button">Course Assignments</a> </p>
    

    <hr/>
    {%if permission %}
    <p> <a href="{{ course.get_edit_url }}" class="btn btn-primary" role="button">Edit Course</a> </p>
     <p> <a href="{{ course.get_delete_url }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this course?')" role="button">Delete Course</a> </p>
    {% endif %}
</div>

{% endblock %}
